* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: #1B244A;
    font-family: 'Cursed Timer ULiL', sans-serif;
    max-width: 35.94em;
    height: 24.06em;
    margin-inline: auto;
    display: flex;
    justify-content: space-evenly;
}

.home-box .guest-box {
    max-width: 9.69em;
    height: 7.50em;
}

.title { 
    max-width: 9.31em;
    font-size: 2.50em;
    line-height: 2.25em;
    color: #EEEEEE;
    font-family: Verdana, sans-serif;
}

.score-num {
    width: 9.69rem;
    height: 7.50rem;
    line-height: 2.25em;
    background-color: #080001;
    display: flex;
    justify-content: center;
}

.num {
    margin-inline: auto;
    width: 7.31rem;
    height: 7.50rem;
    color: #F94F6D;
    font-size: 5.63rem;
    line-height: 7.94rem;
    padding: 0 1.125rem 0;
    text-align: center;
}